.table-wrapper {
  margin: 20px 10px;
  .header {
    min-height: 18px;
    font-weight: bold;
    min-width: fit-content;
    display: flex;
    border: 3px solid black;
    height: 45px;
    font-size: 18px;
    .header-cell {
        flex: 1;
        text-align: center;
        min-width: 105px;
        .cell-content-container {
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          max-width: calc(100% - 40px);
          letter-spacing: 1px;
          cursor: default;

          >span {
            opacity: 0.7;
            text-overflow: ellipsis;
          }
        }
      }

    :not(:last-child) {
      border-right: 3px solid black;
    }
  }

  .body {
    display: flex;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    min-width: fit-content;

    .column {
      display: flex;
      flex-direction: column;
      flex:1;

      :not(:last-child) {
        border-bottom: 3px solid black;
      }

      .body-cell {
        flex: 1;
        text-align: center;
        border-right: 3px solid black;
        min-width: 105px;
        .cell-content-container {
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          max-width: calc(100% - 40px);
          letter-spacing: 1px;
          cursor: default;

          >span {
            opacity: 0.7;
            text-overflow: ellipsis;
          }
        }
      }

    }

  }
}
