.table-wrapper {
  width: 100%;
  display: table;

  .header {
    // min-height: 18px;
    // font-weight: bold;
    // min-width: fit-content;
    // display: flex;
    // border: 3px solid black;
    // height: 45px;
    // font-size: 18px;
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
font-size: 25px;

    .header-cell {
        // flex: 1;
        // text-align: center;
        // min-width: 105px;
        display: table-cell;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;

      .cell-content-container {
        // height: 100%;
        // display: inline-flex;
        // align-items: center;
        // justify-content: center;
        // max-width: calc(100% - 40px);
        // letter-spacing: 1px;
        // cursor: default;

        >span {
          // opacity: 0.7;
          // text-overflow: ellipsis;
        }
      }
    }

    :not(:last-child) {
      // border-right: 3px solid black;
    }
  }

  .body {
    // display: flex;
    // border-bottom: 3px solid black;
    // border-left: 3px solid black;
    // min-width: fit-content;
    display: table-row-group;

    .row {
      // display: flex;
      // flex-direction: column;
      // flex: 1;

      // :not(:last-child) {
      //   border-bottom: 3px solid black;
      // }
      display: table-row;

      .body-cell {
        // flex: 1;
        // text-align: center;
        // border-right: 3px solid black;
        // min-width: 105px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid black;


        .cell-content-container {
          // height: 100%;
          // display: inline-flex;
          // align-items: center;
          // justify-content: center;
          // max-width: calc(100% - 40px);
          // letter-spacing: 1px;
          // cursor: default;

          // >span {
          //   opacity: 0.7;
          //   text-overflow: ellipsis;
          // }
        }
      }

    }

  }
    // $columns: 6;

    // @for $i from 1 through $columns {
    //   .body-cell:nth-child(#{$i}) {
    //     background: mix(#e74c3c, #f1c40f, 20% * ($i - 1));
    //   }
    // }

    // @for $i from 1 through $columns {
    //   .header-cell:nth-child(#{$i}) {
    //     background: mix(#e74c3c, #e74c3c, 20% * ($i - 1));
    //   }
    // }
}

