<div>
  <div class="table-wrapper">
    <div class="header">
      <div *ngFor="let col of cols" class="header-cell" [style.width.px]="col.width"
        [style.min-width.px]="col.minWidth"  [ngClass]="{
          'sort-right': col.textAlign === 'right'
        }">
        <div class="cell-content-container" (click)="sort(col)" (mouseenter)="mouseEnterFilterCell()" [ngClass]="{
          'not-sortable': !col.sortable,
          'ghost-arrow': freshHoverForSortArrowCss && currentSortDirection === undefined || currentSortField !== col.field,
          'left': col.textAlign === 'left',
          'right': col.textAlign === 'right'
        }" [ngStyle]="{
          'justify-content': col.textAlign === 'center' ? col.textAlign : 'flex-start',
          'flex-direction' : col.textAlign === 'right' ? 'row-reverse' : 'row'
         }">
          <span>
            {{col?.header}}
          </span>
          <img src="../../assets/arrow-down.svg" alt="arrow-down" *ngIf="col.sortable"
            [ngClass]="{
              hide: col.sortable && this.currentSortField !== col.field || this.currentSortDirection == undefined,
              'sort-right': col.textAlign === 'right'
            }" [@rotate]="currentSortDirection === SortingTypes.ASC ? 'UP' : 'DOWN'">

        </div>
      </div>

    </div>
    <div class="filter-section">
      <div *ngFor="let col of cols" class="filter-cell" [ngClass]="{
                  'underline-no-filter-cell': !col.filterOptOn
                }">

                <app-search-filter [col]="col" (filter)="handleFiltersEvent($event)" *ngIf="col.filterOptOn"></app-search-filter>
      </div>
    </div>
    <div class="body">
      <div *ngFor="let rowData of pagedGridData;
            let i = index;
            let rowIndex = index;
            let firstRow = first; let lastRow = last;" class="row">
        <div *ngFor="let col of cols let colIndex = index" class="body-cell" [style.width.px]="col.width"
          [style.min-width.px]="col.minWidth" [ngStyle]="{
            'text-align': col.textAlign
           }" [ngClass]="{
            'left': col.textAlign === 'left',
            'right': col.textAlign === 'right',
            'sort-indent': col.sortable
          }">
          <ng-container *ngIf="col.templateRefs[ColumnTemplate.BODY]">

            <ng-container *ngTemplateOutlet="
                            col.templateRefs[ColumnTemplate.BODY];
                              context: { $implicit: rowData, 'rowIndex': rowIndex, 'column': col, 'columnIndex': colIndex, 'columns': cols}
                            "></ng-container>

          </ng-container>
          <ng-container *ngIf="!col.templateRefs[ColumnTemplate.BODY]">
            <div class="cell-content-container">
              <span>
                {{ isString($any(rowData)[(col.field)]) ? ( $any(rowData)[(col.field)] | titlecase ) : $any(rowData)[(col.field)] }}
              </span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pagedGridData?.length; else noResult">
    <app-paging [pageSize]="pageSize" [totalElements]="totalElements" (pageChange)="pageChanged($event)">
    </app-paging>
  </div>
  <ng-template #noResult>
    <div class="no-result-container">
      <div class="no-result">
        <div>
          <div class="no-result-title">There is nothing here.</div>
          <div class="no-result-subtitle">
            Try refreshing the page or changing your search.
          </div>
        </div>
      </div>
    </div>
    </ng-template>
</div>
