<app-generic-table [data]='users' [totalElements]="records" [pageSize]="pageSize" [pagingType]="pagingType" [pager]='{
  showPageSizeSelector: true,
  allowedPageSizes: [5, 10, 20],
  showInfo: true
}'
(pageChange)="pageChanged($event)">
  <app-dg-column [field]="'name'" header="First Name" [width]="70"></app-dg-column>
  <app-dg-column [field]="'surname'" header="Last Name" [width]="120"></app-dg-column>
  <app-dg-column [field]="'age'" header="Age" [minWidth]="25"></app-dg-column>
  <app-dg-column [field]="'salary'" header="Salary" [width]="40"></app-dg-column>
  <app-dg-column [header]="'Information'" [width]="200">
    <ng-template [appTableRow]="users" [template]="ColumnTemplate.BODY" let-rowData>
      <div class="info">
        <p>Employe Age {{rowData.age}}</p>
        <div>

          <img src="{{rtnImageSrc(rowData.name)}}" alt="employee-image">
        </div>
      </div>
    </ng-template>
  </app-dg-column>
  <app-dg-column [header]="'Action'">
    <ng-template [appTableRow]="users" [template]="ColumnTemplate.BODY" let-rowData>
      <div class="btn-continer">
        <button class="test" (click)="seePosition(rowData.position)">
          See Position
        </button>
      </div>
    </ng-template>
  </app-dg-column>
</app-generic-table>
