@import 'src/colors.scss';

.pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 4px;
  padding-right: 15px;
  .link-pages {
    padding-top: 2px;
    svg {
      width: 28px;
      height: 22px;
      cursor: pointer;
    }
  }

  .page-number {
    cursor: pointer;
    text-shadow: none;
    color: #333;
    border-color: transparent;
    padding: 5px 9px 6px;


    &.selected {
      background-color: #d4d4d4;
      width:fit-content;
      border-radius: 3px;
    }
  }
}

* {
  div {
    margin-left: 3px;
    margin-right: 3px;
  }
  a {
    cursor: pointer;
  }

  &.disable {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;

    a {
      cursor: not-allowed;
    }
  }

}
